<div id="policy-wrapper">	
	<section class="policy"> 
		<h3>NewDis.co Policy</h3>
		<p>NewDis.co does not own the rights to any of the searched content through API calls.</p>
		<p>NewDis.co complies with all conditions for third party API usage as laid out by the third party API documentation.</p>
		<p>NewDis.co does not accept any responsibility for the nature of the delivered content, including song themes, rendered images, and messages writen by others.</p>
		<p>NewDis.co uses cookies to increase the user experience of the platform. However, we do not seek or store any personal information.</p>
	</section>
</div>
